<!DOCTYPE html>
<html>
<head>
<title>Editar Maestro</title>
</head>

<body style="
background:#dfefff;
font-family:Arial;">

<div style="
width:500px;
margin:auto;
margin-top:50px;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 0 15px lightgray;">

<h1 style="color:#4f6bdc;text-align:center;">
Editar Maestro
</h1>

<form action="/actualizar_maestro/{{dato._id}}" method="POST">

<input type="text"
name="nombre"
value="{{dato.nombre}}"
style="
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;">

<input type="text"
name="especialidad"
value="{{dato.especialidad}}"
style="
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;">

<input type="number"
name="telefono"
value="{{dato.telefono}}"
style="
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;">

<input type="text"
name="turno"
value="{{dato.turno}}"
style="
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;">

<input type="text"
name="numero_de_empleado"
value="{{dato.numero_de_empleado}}"
style="
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;">

<button style="
width:100%;
padding:12px;
background:#8ec5ff;
border:none;
border-radius:10px;">
Actualizar
</button>

</form>

<br>

<a href="/maestros">
<button style="
width:100%;
padding:12px;
background:#5c6bc0;
color:white;
border:none;
border-radius:10px;">
Regresar
</button>
</a>

</div>

</body>
</html>