<!DOCTYPE html>
<html>
<head>
<title>Sistema Escolar</title>
</head>

<body style="
font-family:Arial;
background:#dfefff;
text-align:center;
padding:50px">

<h1 style="color:#3366cc">
Sistema Escolar
</h1>

<a href="/maestros">
<button style="
padding:15px;
background:#8ec5ff;
border:none;
border-radius:10px">
Maestros
</button>
</a>

<a href="/alumnos">
<button style="
padding:15px;
background:#8ec5ff;
border:none;
border-radius:10px">
Alumnos
</button>
</a>

<a href="/materias">
<button style="
padding:15px;
background:#8ec5ff;
border:none;
border-radius:10px">
Materias
</button>
</a>

</body>
</html>