<!DOCTYPE html>
<html>
<head>
<title>Grupos</title>
</head>

<body style="
background:#dfefff;
font-family:Arial;
margin:0;">

<div style="
background:#4f6bdc;
padding:20px;
text-align:center;
color:white;
font-size:35px;
font-weight:bold;">
🏫 Mantenimiento de Grupos
</div>

<div style="
width:90%;
margin:auto;
margin-top:20px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0px 0px 15px lightgray;">

<a href="/">
<button style="
background:#5c6bc0;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;">
🏠 Inicio
</button>
</a>

<br><br>

<form action="/guardar_grupo" method="POST">

<input type="text" name="grupo"
placeholder="grupo"
required
style="
padding:12px;
width:220px;
border-radius:10px;
border:1px solid lightgray;">

<input type="text" name="especialidad"
placeholder="Especialidad"
required
style="
padding:12px;
width:220px;
border-radius:10px;
border:1px solid lightgray;">


<br><br>

<select name="maestro">

{% for maestro in maestros %}

<option value="{{maestro.nombre}}">
{{maestro.nombre}}
</option>

{% endfor %}

</select>

<select name="materia">

{% for materia in materias %}

<option value="{{materia.nombre}}">
{{materia.nombre}}
</option>

{% endfor %}

</select>

<button>
Guardar Grupo
</button>

</form>

<br><br>

<table style="
width:100%;
border-collapse:collapse;">

<tr style="background:#8ec5ff;">

<th>Grupo</th>
<th>Especialidad</th>
<th>Maestro</th>
<th>Materia</th>
<th>Acción</th>

</tr>

{% for grupo in grupos %}

<tr>

<td>{{grupo.grupo}}</td>
<td>{{grupo.especialidad}}</td>
<td>{{grupo.maestro}}</td>
<td>{{grupo.materia}}</td>

<td>


<a href="/eliminar_grupo/{{grupo._id}}">

<button style="
background:red;
color:white;
border:none;
padding:8px;
border-radius:8px;">
Eliminar
</button>

</a>

</td>

</tr>

{% endfor %}

</table>


<br><br>

<h3>Agregar Alumno al Grupo</h3>

<form action="/agregar_alumno_grupo" method="POST">

<select name="alumno_id">

{% for alumno in alumnos %}

<option value="{{alumno._id}}">

{{alumno.control}}
-
{{alumno.apellido}}
{{alumno.nombre}}

</option>

{% endfor %}

</select>

<input
type="text"
name="grupo"
placeholder="Grupo"
required>

<button>
Agregar Alumno
</button>

</form>

<br><br>

<h2 style="color:#4f6bdc;">

👨‍🎓 Alumnos Asignados
</h2>

<table style="
width:100%;
border-collapse:collapse;">

<tr style="background:#8ec5ff;">

<th>No. Control</th>
<th>Apellido</th>
<th>Nombre</th>
<th>Grupo</th>
<th>Acción</th>

</tr>

{% for alumno in grupo_alumnos %}

<tr>

<td>{{alumno.control}}</td>
<td>{{alumno.apellido}}</td>
<td>{{alumno.nombre}}</td>
<td>{{alumno.grupo}}</td>

<td>

<a href="/eliminar_alumno_grupo/{{alumno._id}}"
style="
background:red;
color:white;
padding:8px;
border-radius:8px;
text-decoration:none;">
Eliminar
</a>

</td>

</tr>

</table>

<br><br>

<h2 style="color:#4f6bdc;">
📚 Grupos Registrados
</h2>

<table style="
width:100%;
border-collapse:collapse;">

<tr style="background:#8ec5ff;">

<th>Grupo</th>
<th>Especialidad</th>
<th>Maestro</th>
<th>Materia</th>
<th>Acción</th>

</tr>

{% for grupo in grupos %}

<tr>

<td>{{grupo.grupo}}</td>
<td>{{grupo.especialidad}}</td>
<td>{{grupo.maestro}}</td>
<td>{{grupo.materia}}</td>

<td>

<a href="/eliminar_grupo/{{grupo._id}}"
style="
background:red;
color:white;
padding:8px;
border-radius:8px;
text-decoration:none;">
Eliminar
</a>

</td>

</tr>

{% endfor %}




{% endfor %}

</table>
